apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: random-giphy

resources:
- ../../base
- namespace.yml

patchesStrategicMerge:
- ingress.yml

images:
- name: registry.digitalocean.com/jpunter/random-giphy
  newTag: tag2
